doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Parallelogramm
    link(rel='stylesheet', href='./css/jb.css')
  body
    script.
      function formatNumber(num, prescision) {
         prescision = prescision == null
            ? ((num % 1) > .01)
               ? 2
               : 0
            : prescision;
         return num.toFixed(prescision);
      }
    .status
      #status
        template#no_circles(title='First point'): h1 Set first point...
        template#one_circle(title='Second point'): h1 Two points more.
        template#two_circles(title='Third point'): h1 Last point left!
        template#all_circles
          h1 Voila!
          table
            tbody
              tr
                th Area
                td(colspan='2') ${formatNumber(area, 0)} px
            tbody
              tr
                th
                td x
                td y
              tr
                th First point
                td ${formatNumber(a.x)}
                td ${formatNumber(a.y)}
              tr
                th Second point
                td ${formatNumber(top.x)}
                td ${formatNumber(top.y)}
              tr
                th Third point
                td ${formatNumber(b.x)}
                td ${formatNumber(b.y)}
    button#reset Reset
    #about
      h2 About
      .text
        p
          | First, select three points. They will be highlighted with red circles.
          | After you set all three, you'll see a blue parallelogram, having three of its corners in the points.
          | And yet a yellow circle, with the same area and the centre of mass as the parallelogram.
        p
          | You'll see coordinates of the selected points as well as the area of the parallelogram and circle.
          | You are free to move around the points.
        p Author: Maxim Grishaev
    script(src='./js/index.js')
    script.
      new Stage(0, 0, '100%', '100%')
         .setStatusElement('status')
         .setResetButton('reset')
         .setSteps(
            'no_circles',
            'one_circle',
            'two_circles',
            'all_circles'
         )
         .run();
